.header {
  background-color: rgb(122, 42, 42);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header .logo {
  color: white;
  font-size: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav ul li a {
  color: white;
}
